<div class="row">
  <div class="col-md-12">
    <h4 class="padding">Add BOOK</h4>
  </div>
</div>
<hr>

<form [formGroup]="bookForm" (ngSubmit)="updateBook(bookForm.value)">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.isbn">ISBN : </label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="category.isbn" formControlName="isbn" value="category.isbn" placeholder="ISBN" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.name">Name : </label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="category.name" value="category.name" formControlName="bookName" placeholder="Name Book" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.publisher">Publisher : </label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="category.publisher" value="category.publisher" formControlName="publisher"
          placeholder="Name Publisher" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.price">Price : </label>
      </div>
      <div class="col-md-8">
        <div class="input-group">
          <span class="input-group-addon">Bath</span>
          <input type="text" class="form-control" name="category.price" value="category.price" formControlName="price" required> 
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.categoryName">Category : </label>
      </div>
      <div class="col-md-8">
        <select class="form-control" name="category.categoryName" formControlName="categoryName">
                <option *ngFor="let item of category" value="{{item.id}}" >{{item.categoryName}}</option>
              </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.detail">Detail : </label>
      </div>
      <div class="col-md-8">
        <textarea class="form-control" name="category.detail" value="category.detail" formControlName="detail" rows="5" required></textarea>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.quantity">Quantity : </label>
      </div>
      <div class="col-md-8">
        <input type="number" class="form-control" name="category.quantity" value="category.quantity" formControlName="quantity" placeholder="Quantity" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.img">Image : </label>
      </div>
      <div class="col-md-8">
        <input type="file" class="form-control-file" name="category.img" value="category.img" formControlName="img">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="exampleFormControlInput1" class="custom-file">On Sale Date : </label>
      </div>
      <div class="col-md-8">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
          <button class="input-group-addon" (click)="d.toggle()" type="button"> <i class="fa fa-calendar" ></i></button>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary width-button">Save</button>
      <button type="reset" class="btn btn-danger width-button">Cancle</button>
    </div>
  </div>
</form>