<div class="row">
  <div class="col-md-12">
    <h4 class="padding">Add BOOK</h4>
  </div>
</div>
<hr>

<form [formGroup]="bookForm" (ngSubmit)="updateBook(bookForm.value)">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="isbn">ISBN : </label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="isbn" formControlName="isbn" [(ngModel)]='isbn' value="isbn" placeholder="ISBN" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="bookName">Name : </label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="bookName" value="bookName" [(ngModel)]='bookName' formControlName="bookName" placeholder="Name Book" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="publisher">Publisher : </label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="publisher" value="publisher" [(ngModel)]='publisher' formControlName="publisher"
          placeholder="Name Publisher" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.price">Price : </label>
      </div>
      <div class="col-md-8">
        <div class="input-group">
          <span class="input-group-addon">Bath</span>
          <input type="text" class="form-control" name="price" value="price" [(ngModel)]='price'  formControlName="price" required> 
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="categoryName">Category : </label>
      </div>
      <div class="col-md-8">
        <select class="form-control" name="categoryName" [(ngModel)]='categoryName' formControlName="categoryName">
                <option *ngFor="let item of category" value="{{item.id}}" >{{item.categoryName}}</option>
              </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="detail">Detail : </label>
      </div>
      <div class="col-md-8">
        <textarea class="form-control" name="detail" value="detail" [(ngModel)]='detail' formControlName="detail" rows="5" required></textarea>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="category.quantity">Quantity : </label>
      </div>
      <div class="col-md-8">
        <input type="number" class="form-control" name="quantity" value="quantity" [(ngModel)]='quantity' formControlName="quantity" placeholder="Quantity" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="img">Image : </label>
      </div>
      <div class="col-md-8">
        <input type="file" class="form-control-file" name="img" value="img" [(ngModel)]='img' formControlName="img">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="saleDate" class="custom-file">On Sale Date : </label>
      </div>
      <div class="col-md-8">
        <div class="input-group">
          <input class="form-control" formControlName="saleDate" [(ngModel)]='saleDate' value='{{saleDate| date: dd/MM/yyyy}}' type="text" name="dp" ngbDatepicker #d="ngbDatepicker">
          <button class="input-group-addon" (click)="d.toggle()" type="button"> <i class="fa fa-calendar" ></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary width-button">Save</button>
      <button type="reset" class="btn btn-danger width-button">Cancle</button>
    </div>
  </div>
</form>