<div class="row">
    <div class="col-sm-3 margin-block" *ngFor="let book of category;let index=index">
          <!-- <div class="card" > -->
        <div class="card-block" (click)="onClick($event,book)" style="height:350px;">
          <div class="card-body">
              <img class="card-img-bottom" src="{{book.img}}" style="width:170px;height:200px" >
            </div>
            <div class="card-footer bg-transparent"> 
              <span class="textOverflow head-book">{{book.bookName| truncate:18}}</span><br> 
              <span class="detail-book">{{book.publisher}} </span><br>
              <span class="detail-book">Price : {{book.price}} </span><br>
              <div>
                  <app-star-vote [data]="book" ></app-star-vote>
              </div>
            </div>
            
        </div>
      <!-- </div> -->
     
    </div>
  </div>
