<div class="row">
    <div class="col-sm-3" *ngFor="let book of category;let index=index">
      <!-- <div class="card"  (click)="getDetailBook(book)"> -->
          <div class="card" (click)="onClick($event,book)">
        <div class="card-block" style="height:350px;">
            <!-- <div class="card-header bg-transparent border-success"> {{book.bookName}} </div> -->
          <div class="card-body">
              <img class="card-img-bottom" src="{{book.img}}" style="width:170px;height:200px" >
            </div>
            <div class="card-footer bg-transparent"> 
              <span class="textOverflow head-book">{{book.bookName| truncate:18}}</span><br> 
              <span class="detail-book">{{book.publisher}} </span><br>
              <span class="detail-book">Price : {{book.price}} </span><br>
              <div>
                  <app-star-vote [data]="book"></app-star-vote>
              </div>
              <!-- <div *ngIf="!book.score">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div *ngIf="book.score==1">
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div *ngIf="book.score==2">
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div *ngIf="book.score==3">
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div *ngIf="book.score==4">
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div *ngIf="book.score==5">
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
                <i class="fa fa-star-o" style="background-color:yellow"></i>
              </div> -->
            </div>
            
        </div>
      </div>
     
    </div>
  </div>
  <!-- <p class="overflow-ellipsis" style="white-space: nowrap;width: 200px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->