<div class="content">
<div class="container">
  <div class="row">
    <div class="col-md col-md-12">
      <ul class="nav bg-faded">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)" [routerLink]="['/']">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/updatebook']">Backend</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/docs']">Docs</a>
          </li>
      </ul>
    </div>
  </div>

<div class="row">
    <div class="col-md col-md-2">
      <ul class="nav flex-column bg-faded" id="sidebar">
        <!-- <li class="nav-item" *ngFor="let category of categorys">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/category',category.id]"> 
            {{category.categoryName}} </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/category',1]"> 
            Economics </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/bookshelf',2]"> 
            Kids & Teens </a>
        </li>
      </ul>
 
    </div>

    <div class="col-md col-md-10">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
</div>

<!-- <div class="content">

  <div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
      <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
        <div class="list-group border-0 card text-center text-md-left" *ngFor="let category of categorys">
          <a href="javascript:void(0)" [routerLink]="['/category',category.id]" class="list-group-item d-inline-block collapsed" data-toggle="collapse"
            data-parent="#sidebar">
                    {{category.categoryName}} </a>
        </div>
      </div>


      <div class="col-md-10 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
        <div class="container">
          <div class="row">
            <div class="col-md col-md-12">
              <ul class="nav bg-faded">
                <li class="nav-item" style="padding-top:8px;padding-left: 10px;">
                  <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="javascript:void(0)" [routerLink]="['/']">Book</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" [routerLink]="['/updatebook']">Backend</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" [routerLink]="['/docs']">Docs</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <main class="col-md-12 float-left col px-5 pl-md-2 pt-2 main">
          <router-outlet>
          </router-outlet>
        </main>
      </div>
    </div>
  </div>
</div> -->