<div class="container">
  <div class="row">
    <div class="col-md col-md-12">
      <ul class="nav bg-faded">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)" [routerLink]="['/']">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/updatebook']">Backend</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md col-md-2">
      <ul class="nav flex-column bg-faded">
        <li class="nav-item" *ngFor="let category of categorys">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/category',category.id]"> 
            {{category.categoryName}} </a>
        </li>
      </ul>
    </div>

    <div class="col-md col-md-10">
      <router-outlet>
      </router-outlet>
    </div>
  </div>

  <div class="row">

  </div>
</div>