<br>
<div class="row" >
  <div class="col-md-7">
    <h4 class="padding" style="color:grey;">BOOK DETAIL</h4>
  </div>
  <div class="col-md-5 text-right">
    <app-star-vote [data]="detail"></app-star-vote>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">
    <img class="card-img-bottom padding" src="{{detail?.img}}" style="width:300px;height:400px">
  </div>

  <div class="col-md-7">
    <div class="card border-light">
      <div class="card-header bg-transparent border-light">
        <h5> {{detail?.bookName}} </h5>
      </div>
      <div class="card-body">
        <div class="row" style="padding-top:20px">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <h6>ISBN : </h6>
              </div>
              <div class="col-md-8">
                <p> {{detail?.isbn}} </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <h6>Publisher : </h6>
              </div>
              <div class="col-md-8">
                <p> {{detail?.publisher}} </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <h6>Price : </h6>
              </div>
              <div class="col-md-8">
                <p> {{detail?.price}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent border-light">
        <div class="row">
          <div class="col-md-7">
            <h6 style="padding-left:0px;">ต้องการซื้อฉบับนี้ ราคา {{detail?.price}} บาท</h6>
          </div>
          <div class="col-md-5 text-right">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-cart-plus"></i> เพิ่มสินค้าลงตะกร้า
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h4 style="color:gray">ABOUT THIS BOOK</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>{{detail?.detail}}</p>
  </div>
</div>

<hr>
<h4 style="color:gray">WRITE A REVIEW</h4>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <h6>Review : </h6>
      </div>
      <div class="col-md-9">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <h6>Ratings : </h6>
      </div>
      <div class="col-md-3">
        <p>Your Rating</p>
        <h3 class="text-center">{{detail?.score}}</h3>
        <h3 *ngIf="!detail.score" class="text-center">0</h3>
        <div>
          <app-star-vote></app-star-vote>
        </div>
      </div>
    </div>
  </div>
</div>
