<!-- <div class="uk-section uk-section-muted">
  <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
    <li *ngFor="let book of books; let id=index">
      <img src="{{book.imgHead}}" width="80%" height="50%">
    </li>
  </ul>
  <ngb-alert [dismissible]="true">I'm a dismissible alert :) </ngb-alert>
  </div> -->

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" *ngFor="let book of books; let id=index">
          <img class="d-block w-100" src="{{book.imgHead}}" alt="First slide">
        </div>
      </div>
    </div> -->

  <div class="bg-faded">
    <img class="w-75" src="http://cdn-a.ookbee.com/shopwidget/2039498/2039498728131.jpg">
  </div>
