

  
  /* @media screen and (min-width: 768px) {
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      font-size: 30px;
    }
  }

  .carousel {
    height: 500px;
  }
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-1 {
    height: 100%;

    -webkit-background-size: cover;
    background-size: cover;
  }
  
  .carousel-2 {
    height: 100%;

    -webkit-background-size: cover;
    background-size: cover;
  } */
