.fade-in {
    animation: fadeIn 0.5s;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 800px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;   
  }
  .wrapper {
    max-width:200px;
    width:75%;
  }

 