/* You can add global styles to this file, and also import other style files */
/* button previous - next head img */
.slick-prev:before, .slick-next:before{
    color: #343a40 !important
  }

  .carousel-item-slideSet{
    padding-left:  5px;
    padding-top: 10px;
    /* padding-right: 5px; */
    height: 200px;
    width: 90%;
    /* align-items: center */
  }

  .carousel-item-headImg{
    padding-left:  15px;
    padding-right: 15px;
    height: 300px;
    width: 100%;
    /* align-items: center */
  }